
body > div {
    width: 100%;
    /* margin-left: calc((100% - 1200px)/ 2); */
    display: inline-block;
}

header {
    display: inline-block;
    width: 100%
}
    header > img {
        display: inline-block;
        float: left;
        color: white;
        height: 40px;
        margin-left: 10px;
        
    }

    nav{
        display: inline-block;
        float: right;
        margin-top: 10px;
        font-size: 18px;
        
    }

        a{
            display: inline-block;
            line-height: 10px;
            padding: 15px;
            margin-left: 10px;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: #5D5D65;
        }


    main {
        background-color: #F2F2F4;
        margin-top: 5px;
        
    }

        main > img {
           
            width: 83%;
            display: inline-block;
    }